@font-face {
	font-family: 'AvenirNextCyr-Light';
	src: url('../fonts/avenirnextcyr-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/avenirnextcyr-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/avenirnextcyr-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/avenirnextcyr-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/avenirnextcyr-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/avenirnextcyr-light.svg#avenirnextcyr-light') format('svg'); /* Chrome < 4, Legacy iOS */
}